body {
    background-color: black;
    color: black;

}
h1
{
    background-color:black;
    color: goldenrod;
}
ol{
    background-color: lightsalmon;
    color:black;
}
h2 {
background-color: peru;
color: orangered;
}
ul{
    background-color: aqua;
    color:firebrick;

}
p {
    background-color: lightslategray;
    color: rgba(34, 33, 33, 0.356)56);
}

